/*========general style========*/
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.body {
  font-family: var(--main-font);
  background-color: #ffffff;
  color: #757575;
}
.header {
  background-color: #ffffff;
}
.hero-title {
  color: #ffffff;
}
.hero {
  background-color: #2f303a;
}
.skillss {
  background-color: #e5e5e5;
}
.pictures {
  background-color: #e5e5e5;
}
.team {
  background-color: #f5f4fa;
}

/*========= header ==========*/

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.menu-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/*==========end header=========*/

/*============hero=============*/
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.project-thumbnail {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}
.project-heading {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  color: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #000000;
}
.filter-item {
  color: #000000;
}
.filter-item:hover,
.filter-item:focus {
  background: #2196f3;
  color: #ffffff;
}
/*============end hero=========*/

/*=======skills company========*/
.skills-list-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.skills-list-suptitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=====end skills company======*/

/*========pictures=============*/
.pictures-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
/*=====end pictures============*/
/*=========team================*/
.team-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list-item-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list-item-position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=========end team============*/

/*==========footer=============*/
.footer {
  background-color: #2f303a;
}
.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-contact-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.address-contact-link:hover,
.address-contact-link:focus {
  color: var(--accent-color);
}
